body
{
    overflow:hidden;
}
.log
{
    width: 50vw;
    height: -1vw;
    margin-left: 2.1rem;
}
.mr-top
{
    margin-top:1rem !important;
}
.text
{
    margin-top: 1%;
}
.text1
{
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 20px;
    color:#186ab4;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.text2
{    font-size: 2vw;
    font-weight: 500;
    color:#186ab4;
}
.mar-t
{
    margin-top: 14%;
    margin-left: -14%;
}
@media only screen and (max-width: 767px)
{
    .algnbt
    {
        display: flex;
        justify-content: center; 
        
    }
}
@media only screen and (max-width: 900px)
{
    .fixed-bottom
    {
        position: relative;
    }
}  


